{% extends "base.html" %}
{% block content %}

<h2>Add a New Match</h2>

<form action="/pvps" method="POST">
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name">
    </div>
    <div>
        <label for="game">Game:</label>
        <select name="game_id" id="game">
            {% for game in games %}
            <option value="{{ game.id }}">
                {{ game.name }}
            </option>
            {% endfor %}
        </select>
    </div>
    <div>
        <label for="red_team">Red Team:</label>
        <select name="red_team_id" id="team">
            {% for team in teams %}
            <option value="{{ team.id }}">
                {{ team.name }}
            </option>
            {% endfor %}
        </select>
    </div>
    <div>
        <label for="blue_team">Blue Team:</label>
        <select name="blue_team_id" id="team">
            {% for team in teams %}
            <option value="{{ team.id }}">
                {{ team.name }}
            </option>
            {% endfor %}
        </select>
    </div>
    <div>
        <label for="red_team_score">Red Score:</label>
        <input type="number" id="red_team_score" name="red_team_score" placeholder="red_team_score">
    </div>
    <div>
        <label for="blue_team_score">Blue Score:</label>
        <input type="number" id="blue_team_score" name="blue_team_score" placeholder="blue_team_score">
    </div>
    <div>
        <button type="submit">Add Match</button>
    </div>
</form>

{% endblock %}